@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 01px solid rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    /* background-color: rgba(29, 29, 29, 0.795);
    color: white; */
    /* for firefox  */
    scrollbar-width: none; 
    /* for Edge */
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
  html {
    scroll-behavior: smooth;
    position: fixed;
  }
body{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.leftPanel{
    width: 25%;
    height: 100%;
}
.mainPanel{
    width: 75%;
    height: 100%;
    position: relative;
}
.title{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    /* letter-spacing: 1px; */
    padding: 20px;
    font-weight: 600;
}
.recommended{
    height: 25%;
}
.recommended > div{
    height: 25%;
    width: 100%;
    padding-left: 20px;
}
.queue{
    height: 67%;
    overflow: scroll;
}
.queueList{
    width: 100%;
    height: 12%;
    position: relative;
}
.songNumber{
    height: 100%;
    width: 15%;
}
.songImage{
    height: 100%;
    width: 20%;
}
.songTitle{
    height: 100%;
    width: 50%;
}
.songPlayButton{
    height: 100%;
    width: 15%;
    cursor: pointer;
}
.songName, .songAuthor{
    width: 100%;
    padding-left: 20px;
}
.songName{
    font-size: 17px;
    font-weight: 600;
}
.songAuthor{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.422);
}
.banner{
    height: 40%;
    width: 100%;
    justify-content: space-between;
}

.popularSongs{
    height: 30%;
}
.popularArtists{
    height: 20%;
}
.banner > div:first-child{
    height: 25%;
    width: 100%;
    position: relative;
}
.banner > div > nav{
    height: 100%;
    width: 35%;
    justify-content: flex-start;
    margin: 0%;

}
.searchBox{
    height: 100%;
    width: 45%;
    margin: 0 5%;
}
.searchBox > div{
    width: 80%;
    height: 40%;
    border-radius: 20px;
}
.searchBox > div > input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 20px;
}
.userProfile{
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    right: 0;
}
.userProfile>img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.recommendedAlbum{
    height: 75%;
    width: 60%;
}
.albumTitle{
    height: 30%;
    padding: 0 40px ;
    font-size: 25px;
    font-weight: 600;
}
.albumDescription{
    height: 40%;
    padding: 10px 40px;
}
.albumButtons{
    height: 30%;
    gap: 30px;
}
.albumButtons > button {
    width: 25%;
    height: 50%;
    border-radius: 25px;
}
.popTitle{
    height: 20%;
    padding-left: 40px;
    font-weight: 600;
    font-size: 20px;
}
.popSongQueue{
    height: 80%;   
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 0 20px;

}
.song{
    height: 80%;
    width: 12%;
    margin: 20px;
    flex-shrink: 0;
    /* margin: 10%; */
}
.popImg{
    height: 75%;
    width: 100%;
}
.popSongName{
    height: 13%;
    font-size: 13px;
    font-weight: 600;
    padding: 0 5px;
    overflow:hidden;
}
.popAlbumName{
    height: 12%;
    font-size: 12px;
    overflow:hidden;
    padding: 0 6px;
}   
.popArtistsHeading{
    height: 30%;
    padding-left: 40px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}
.popArtists{
    height: 70%;
    overflow: scroll;
    align-items: center;
    gap: 20px;
    padding: 0px 40px;
}
.artist{
    /* width: 10%; */
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}








/*  */
.bottomPanel{
    width: 100vw;
    flex-shrink: 0;
    height: 10%;
    position: fixed;
    bottom: 0;
}
.musicVisulaizer{
    width: 5%;
    height: 100%;
}
.songDetail{
    width: 20%;
}
.songControlArea{
    width: 10%;
}
.songTimeArea{
    width: 45%;
}
.songVolumeControlArea{
    width: 20%;
}